.positionBottomLeft{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: var(--bg-color-button);
}

.img-textBox .img {
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    position: relative;
}
.img-textBox b{
    font-weight: normal;
    color: black;
}